<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

<!-- Enable autowire -->
 	<context:component-scan base-package="com.jfrogz" />
	<mvc:annotation-driven />
	<mvc:resources mapping="/static/**" location="/static/" />

	<bean id="sobreMiVar" class="com.jfrogz.Indentity.Generales">
		<property name="nombreCompleto" value="Juan Fernando Robles Guzmán"/>
		<property name="carrera" value="Ing. Ciencias de  la computación"/>
		<property name="sobreMi" value="Actualmente me encuentro desarrollando software, aplicando todo el conocimiento que he adquirido y al mismo tiempo estoy aprendiendo cosas nuevas he interesantes.  Ahora estoy en busca de nuevos retos laborales, en los cuales pueda explotar todo mi potencial.  No dude en ponerse en contacto conmigo si desea saber más acerca de mis habilidades y aspiraciones profesionales."/>
		<property name="escuchandoOfertas" value="true"/>
		<property name="empleado" value="false"/>
		<property name="telefonos">
			<list value-type="com.jfrogz.Indentity.Telefono">
				<bean class="com.jfrogz.Indentity.Telefono">
					<property name="numero" value="(222)5-66-11-66"/>
					<property name="descripcion" value="Celular"/>
					<property name="nombreIcon" value="glyphicon glyphicon-phone"/>
				</bean>
				<bean class="com.jfrogz.Indentity.Telefono">
					<property name="numero" value="(222)2-42-58-02"/>
					<property name="descripcion" value="Recados"/>
					<property name="nombreIcon" value="glyphicon glyphicon-phone-alt"/>
				</bean>
			</list>
		</property>
		<property name="trabajos">
			<list value-type="com.jfrogz.Indentity.Trabajo">
				<bean class="com.jfrogz.Indentity.Trabajo">
					<property name="empresa" value="SNGULAR"/>
					<property name="puesto" value="Desarrollador JAVA"/>
					<property name="actividades" value="Se crean aplicaciones y servicios WEB asi tambien como el mantenimiento de estos y otros productos previamente adquiridos."/>
					<property name="fechaInicial" value="6 de Enero de 2017"/>
					<property name="fechaFinal" value=""/>
				</bean>
			</list>
		</property>
	</bean>
</beans>
